:root{
    --mainDark: rgb(63, 61, 61);
    --mainLight: rgb(101, 248, 101);
    --textColor: white;
}
body{
    background-color: var(--mainDark);
    color: var(--textColor);
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-title{
    color: var(--mainLight);
    text-align: center;
    padding: 20px;
    font-size: 45px;
}
p{
    display: block;
    padding: 20px;
    margin: 0 30px;
    font-size: 22px;
    text-align: center;
}

