:root {
    --mainLight: rgb(251, 229, 191);
    --mainDark: rgb(66, 43, 1);
    --textColor: rgb(16, 8, 0);
}
body{
    background-color: var(--mainLight);
    color: var(--textColor);
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-title{
    color: var(--mainDark);
    text-align: center;
    padding: 20px;
    font-size: 45px;
}
.main-p{
    display: block;
    padding: 20px;
    margin: 0 30px;
    font-size: 22px;
    text-align: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
  }

  .justify-center{
    justify-content: center;
  }
code {
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
        'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
        'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
        monospace;
}
.code-card .card-header{
    color: var(--mainDark);
    border: solid 2px var(--mainDark);
    border-radius: 10px;
    justify-content: center;
    padding: 10px;
    text-align: center;
    position: relative;
    margin-top: -45px;
    margin-bottom: 1.5px;
    background-color: var(--mainLight);
}
h2{
    font-size: 30px;
}

.card-column{
    border: solid 2px var(--mainDark);
    border-style: dashed;
    width: 500px;
    height: 300px;
    padding: 20px;
    margin: 10px;
    margin-bottom: 40px;
    margin-right: 10px;
    transition: all 1s ease-out;
}
.code-card pre {
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    display: flex;
    align-items: center;
  }

.card-body .card-p{
    color: var(--mainDark);
    font-size: 17px;
    padding: 10px;
}

.card-column .code-block{
    border: solid 2px var(--mainDark);
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(to bottom, var(--mainLight), var(--mainDark));
    height: 200px;
    font-size: 20px;
    user-select: all;
}

.card-column:hover{
    box-shadow: 0 0 40px var(--mainDark);
    cursor: grab;
}

footer{
    font-size: 20px;
    text-align: center;
}

